<div fxLayout="column" fxLayoutAlign="center center" class="mat-primary" fxLayoutGap="30">
  <h1 class="mat-display-1" fxFlexOffset="1">Welcome!</h1>
  <div fxLayout.gt-sm="row" fxLayout="column" class="gif-container" (click)="musicChange(ref)">
    <div fxLayout="column" fxLayoutAlign="space-around center" fxFlexAlign="stretch">
      <a fxFlex="30">
        <img src="./assets/gifs/toothless-dancing.gif" alt="toothless">
      </a>
      <a fxFlex="70">
        <img src="./assets/gifs/91a0c0c7daf2eb978b1a893c068d2bde.gif" alt="">
      </a>
    </div>
    <a fxFlex="grow" >
      <img
        src="./assets/gifs/200w.gif" alt="" >
    </a>
  </div>
  <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" mat-raised-button>Get prize</a>
</div>
<audio #ref id="audio" [volume]="0.05" [loop]="true"
       src="https://muzor.net/uploads/music/2024/01/pokemon-black-white-driftveil-city-mp3.mp3"></audio>
